:root {
    /* Looks too wide with the default value, so
    I shrink it a bit to make it look nicely */
    --blyrics-fullscreen-panel-size: 57.5%;

    /* Made a slight change to the extension code
    to make this property possible */
    --ytmusic-album-art-img-size: 1280;

    --yt-album-size: 500px;
}

ytmusic-player-page:not([is-mweb-modernization-enabled]):not([is-mweb-modernization-enabled]):not([video-mode]) #player.ytmusic-player-page {
    max-width: var(--yt-album-size) !important;
    overflow: hidden;
}

/* Makes the track cover fills up the entire screen height */
ytmusic-player-page:not([is-mweb-modernization-enabled]):not([is-mweb-modernization-enabled]):not([video-mode])[player-fullscreened] #player.ytmusic-player-page {
    position: fixed;
    max-width: none !important;
    width: 56.2%;
    background: transparent;
    box-shadow: none;
    z-index: 0;
}

/* Makes the image of the track cover fills the entire element and with a nice opacity gradient */
ytmusic-player-page:not([is-mweb-modernization-enabled]):not([video-mode])[player-fullscreened] #thumbnail > img {
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
    );
}

/* So that there won't be this black gradient from the top showing up whenever you paused the track on fullscreen */
ytmusic-player-page:not([is-mweb-modernization-enabled]):not([video-mode])[player-fullscreened] .song-media-controls.ytmusic-player {
    background: transparent;
}

/* Puts the track info on top left screen
(originally was put on the bottom left but it was covered by the player controls so I moved it) */
ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened] #blyrics-song-info {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(1rem);
    left: 2rem;
    top: 2rem;
    border-radius: .5rem;
    padding: 1rem 1.25rem;
    justify-content: flex-end;
    align-items: flex-start;
}

/* Basically make it left-handed */
ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened] #blyrics-song-info > p {
    text-align: left;
    font-family: var(--blyrics-translated-font-family);
    font-weight: 500;
    line-height: 1.25;
}

/* Selector taken from `ytmusic.css` */
/* DISABLE THE THING THAT MAKES THE PANEL CENTERS IF THERE'S NO LYRICS */
ytmusic-player-page[player-fullscreened]:not([video-mode]):not([blyrics-dfs]):has(.blyrics-container[data-no-lyrics="true"]) #main-panel {
    transform: none;
    transition: none;
}