:root {
    /* Looks too wide with the default value, so I shrink it a bit to make it look nicely */
    --blyrics-fullscreen-panel-size: 52vw;
    /* Make the lyric height a bit shorter since seeing a wrapped background line just makes me feel something else */
    --blyrics-line-height: 1.25;

    --yt-album-fullscreen-size: 100vh;
    --yt-album-size: 500px;
}

/* Makes the album art bigger on outside fullscreen mode */
ytmusic-player-page:not([is-mweb-modernization-enabled]):not([is-mweb-modernization-enabled]):not([video-mode]) #player.ytmusic-player-page {
    max-width: var(--yt-album-size) !important;
    overflow: hidden;
}

/* Makes the album art fills up the entire screen height */
ytmusic-player-page:not([is-mweb-modernization-enabled]):not([is-mweb-modernization-enabled]):not([video-mode])[player-fullscreened] #player.ytmusic-player-page {
    position: fixed;
    max-width: var(--yt-album-fullscreen-size) !important;
    height: var(--yt-album-fullscreen-size);
    background: transparent;
    box-shadow: none;
    z-index: 0;
}

/* Makes the image of the album art fills the entire element and with a nice opacity gradient */
ytmusic-player-page:not([is-mweb-modernization-enabled]):not([video-mode])[player-fullscreened] #thumbnail > img {
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
    );
}

/* So that there won't be this black gradient from the top showing up whenever you paused the track on fullscreen */
ytmusic-player-page:not([is-mweb-modernization-enabled]):not([video-mode])[player-fullscreened] .song-media-controls.ytmusic-player {
    background: transparent;
}

/* Puts the track info on top left screen
(originally was put on the bottom left but it was covered by the player controls so I moved it) */
ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened]:not([blyrics-dfs]) #blyrics-song-info {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(1rem);
    left: 2rem;
    top: 2rem;
    border-radius: .5rem;
    padding: 1rem 1.25rem;
    justify-content: flex-end;
    align-items: flex-start;
}

/* Basically make it left-handed */
ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened] #blyrics-song-info > p {
    text-align: left;
    font-family: var(--blyrics-translated-font-family);
    font-weight: 500;
    line-height: 1.2;
    text-shadow: 0 0 1rem hsl(0, 0%, 0%, .5);
}

/* Selector taken from `ytmusic.css` */
/* DISABLE THE THING THAT MAKES THE PANEL CENTERS IF THERE'S NO LYRICS */
ytmusic-player-page[player-fullscreened]:not([video-mode]):not([blyrics-dfs]):has(.blyrics-container[data-no-lyrics="true"]) #main-panel {
    transform: none;
    transition: none;
}

ytmusic-player-page[player-fullscreened]:not([video-mode]):not([blyrics-dfs]):has(.blyrics-container[data-no-lyrics="true"]) #player {
    transition: none;
}